@using SmmAnalyzerPrototype.Data.Models.DTO
@using SmmAnalyzerPrototype.Data.Models.DTO.Community
@model CommunityDto

<h2>Удаление сообщества</h2>

<h3>Вы уверены, что хотите удалить сообщество "@Model.Name"?</h3>

<dl class="row">
    <dt class="col-sm-2">Название</dt>
    <dd class="col-sm-10">@Model.Name</dd>
    <dt class="col-sm-2">Целевая аудитория</dt>
    <dd class="col-sm-10">@Model.TargetAudience</dd>
    <dt class="col-sm-2">Стиль общения</dt>
    <dd class="col-sm-10">@Model.StyleProfile</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>