@using SmmAnalyzerPrototype.Data.Models.DTO
@using SmmAnalyzerPrototype.Data.Models.DTO.Community
@model List<CommunityDto>

<h2>Сообщества</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать сообщество</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Целевая аудитория</th>
            <th>Стиль общения</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.TargetAudience</td>
                <td>@item.StyleProfile</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>